html {
  position: relative;
  min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
 
h1.title {
  font-family: 'Electrolize', sans-serif;
  font-size: 24px;
  margin-top: 0px;
}

#home_banner img {
  width: 100%;
  height: auto;
}

p.callout {
  font-family: 'Electrolize', sans-serif;
  font-size: 40px;
  color: #ff8500;
  text-align: center;
}

p.intro {
  font-weight: 700;
}

.info h3 {
  font-family: 'Electrolize', sans-serif;
  font-size: 20px;
  color: #ff8500;
  margin-top: 0;
  margin-bottom: 0;
}

.info p {
  margin-top: 3px;
}

img.pg_img {
  float: left;
  width: 250px;
  height: auto;
  margin: 10px;
}

iframe {
  width: 95% !important;
  margin-bottom: 20px;
}

p.contact {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background: #eee;
}

.product, .member {
  margin-bottom: 20px;
}

img.member_photo {
  width: 230px;
  height: 230px;
  border: 1px solid #ddd;
}

.product .photo {
  border: 1px solid #ddd;
  margin-bottom: 5px;
}

.member .name, .member .phone,
.product .name,
.product .price {
  font-family: 'Electrolize', sans-serif;
  font-size: 20px;
  color: #aaa;
  float: left;
}

.member .phone {
  margin-left: 15px; 
  margin-top: 8px;
  font-size: 12px;
}

.product .price {
  margin-left: 45px; 
}

.prod_button {
  clear: both !important;
}

.columns {
  border-left: 1px solid #ccc;
}

.columns p{
  text-align: justify;
}

#secondary {
  border-left: 2px solid #ccc;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #222222;
}

footer p {
  color: #999;
  text-align: center;
  line-height: 60px;
  margin: 0;
  padding: 0;
}

footer .navbar {
 margin-bottom: 0 !important; 
}

.navbar-nav > li > a {
    padding-top: 20px;
}

img {
  width: 90%;
  height: auto;
}

@media (max-width: 600px) {
  iframe {
    width: 95% !important;
    height: auto !important;
    margin-bottom: 20px;  
  }
  
  p.callout {
    font-size: 20px;
  }  
}